@import url('https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans');
@import "./components/common/forms.scss";
@import "./components/common/navbar.scss";
@import "./components/pages/index.scss";
@import "./components/pages/new.scss";
@import "./components/variables/colors.scss";
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
//Sitewide Styles
html, body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: white;
  overflow:auto;
}

.container {
  max-width: 98%;
}
.neon {
  font-family: 'Nixie One', cursive;
  color: #FB4264;
  font-size: 48px;
  line-height: 48px;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flexy {
  display:flex;
  justify-content: space-around;
  padding:20px;
  &.column {
    flex-direction: column;
  }
}

.overflow {
  overflow:scroll;
  max-height: 500px;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px white;
}

//HomePage
.hero {
  .title {
    font-size: 48px;
  }
}

.title, .subtitle {
  font-weight: bolder;
  color:white;
}

@media only screen and (max-width:$screen-md-min){
  .flexy{
    flex-direction: column;
  }
}
