@import "./components/variables/colors.scss";


.navbar {
  background-color:rgba(0,0,0,0.5);
  a {
    color: white;
    &:hover {
      background-color: rgba(0,0,0,0);
      color: $neon-red;
      text-shadow: $neon-text-shadow;
    }
  }
}

.navbar-menu {
  background-color: rgba(0,0,0,0);
}
