$neon-yellow: #FED128;
$neon-red: #FA1C16;
$neon-green: #00FF66;
$neon-blue: #0062FF;
$neon-pink: #FF0099;
$neon-purple: #6E0DD0;
$youtube-red: #fc0d1c;


$neon-text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
