@import "./components/variables/mediaQueries.scss";

button.button, a.button {
  margin: 10px auto;
  display:block;
  text-transform: uppercase;
  color:white;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 5px;
  border-radius: 500px;
  padding: 18px 48px;
  letter-spacing: 2px;
  min-width: 160px;
  &:hover {
    background-color:white;
    border-color:white;
  }
}

a.button {
   max-width:400px;
}

.flexy.jukebox {
  justify-content: flex-start;
  & > first-child{
    margin-left:0;
  }
}

.wrapper {
  perspective: 1000px;
}

.wrapper:hover .song {
  transform: rotate(0)

}

.song {
  text-align: center;
  transition: .3s;
  width: 10em;
  height: 10em;
  border-radius: 3px;
  padding: 5px;
  margin: -20px;
  transform: rotateY(40deg);
  background-color:white;
  border: 1px solid #363636;
  box-shadow: -10px 0px 10px 1px #363636;
  transition:
      box-shadow 0.2s ease-out,
      transform 0.2s ease-out;
  input.regular-checkbox, p {
    display: inline;
  }
  &.large {
    height:auto;
  }

}

.song p {
  text-align: center;
  display:inline;
  margin: .5em 0;
  font-weight: bold;
  color: $neon-blue;
}

.song input iframe {
  display: block;
  height: auto;
  margin: 0 auto;
  -webkit-filter: sepia(75%);
}
