@import "./components/variables/mediaQueries.scss";

button.button, a.button {
  margin: 10px auto;
  display:block;
  text-transform: uppercase;
  color:white;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 5px;
  border-radius: 500px;
  padding: 18px 48px;
  letter-spacing: 2px;
  min-width: 160px;
  &:hover {
    background-color:white;
    border-color:white;
  }
}

a.button {
   max-width:400px;
}

.flexy.jukebox {
  justify-content: flex-start;
  height:auto;
  overflow-y: hidden;
  & > first-child{
    margin-left:0;
  }
}

.wrapper {
  perspective: 1000px;
  margin: 50px 0;
}

.wrapper:hover .song {
  transform: rotate(0)

}

.song {
  transition: .3s;
  width: 12em;
  border-radius: 3px;
  padding: 5px;
  margin: -30px;
  border:none;
  transform: rotateY(40deg);
  background-color:transparent;
  // background-image: url('../../assets/images/record_katie.png');
  background-position:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  input.checkbox {
    width: 20px;
    display:inline !important;
    margin: 0 auto;
  }
  &.large {
    height:auto;
  }

}

.song p {
  text-align: center;
  display:inline;
  margin: .5em 0;
  font-weight: bold;
  color:white;
}

.song input iframe {
  display: block;
  height: auto;
  margin: 0 auto;
  -webkit-filter: sepia(75%);
}

.songTitle {
  text-transform: uppercase;
}
