button.button, a.button {
  margin: 10px auto;
  display:block;
  text-transform: uppercase;
  color:white;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 5px;
  border-radius: 500px;
  padding: 18px 48px;
  letter-spacing: 2px;
  min-width: 160px;
  &:hover {
    background-color:white;
    border-color:white;
  }
}
 a.button {
   max-width:400px;
 }



.song {
  width: 100px;
}
